---
---

// - - - - - - - - - - Foundations

@import "_reset";
@import "_mixins";
@import "_plugins";



// - - - - - - - - - - Variables


// Colors

$background-color: {{ site.data.settings.color_settings.background_color }};
$background-alt-color: {{ site.data.settings.color_settings.background_alt_color }};
$border-color: {{ site.data.settings.color_settings.border_color }};

$text-dark-color: {{ site.data.settings.color_settings.text_dark_color }};
$text-medium-color: {{ site.data.settings.color_settings.text_medium_color }};
$text-light-color: {{ site.data.settings.color_settings.text_light_color }};

$accent-color: {{ site.data.settings.color_settings.accent_color }};

$overlay-background-color: {{ site.data.settings.color_settings.overlay_background_color }};
$overlay-text-color: {{ site.data.settings.color_settings.overlay_text_color }};
$overlay-accent-color: {{ site.data.settings.color_settings.overlay_accent_color }};

$error-color: {{ site.data.settings.color_settings.error_color }};


// Fonts

$body-font: {{ site.data.settings.font_settings.body_font }};
$title-font: {{ site.data.settings.font_settings.title_font }};

$regular-weight: {{ site.data.settings.font_settings.regular_weight }};
$bold-weight: {{ site.data.settings.font_settings.bold_weight }};


// Typography

$sitetitle-small: {{ site.data.settings.font_settings.site_title.small_size }}px;
$sitetitle-medium: {{ site.data.settings.font_settings.site_title.medium_size }}px;
$sitetitle-large: {{ site.data.settings.font_settings.site_title.large_size }}px;
$sitetitle-weight: {{ site.data.settings.font_settings.site_title.weight }};
$sitetitle-spacing: {{ site.data.settings.font_settings.site_title.letter_spacing }}em;

$sitetagline-small: {{ site.data.settings.font_settings.site_tagline.small_size }}px;
$sitetagline-medium: {{ site.data.settings.font_settings.site_tagline.medium_size }}px;
$sitetagline-large: {{ site.data.settings.font_settings.site_tagline.large_size }}px;
$sitetagline-weight: {{ site.data.settings.font_settings.site_tagline.weight }};
$sitetagline-spacing: {{ site.data.settings.font_settings.site_tagline.letter_spacing }}em;
$sitetagline-lineheight: {{ site.data.settings.font_settings.site_tagline.line_height }};

$menu-small: {{ site.data.settings.font_settings.menu.small_size }}px;
$menu-medium: {{ site.data.settings.font_settings.menu.medium_size }}px;
$menu-large: {{ site.data.settings.font_settings.menu.large_size }}px;
$menu-weight: {{ site.data.settings.font_settings.menu.weight }};
$menu-spacing: {{ site.data.settings.font_settings.menu.letter_spacing }}em;

$grid-item-title-small: {{ site.data.settings.font_settings.grid_item_title.small_size }}px;
$grid-item-title-medium: {{ site.data.settings.font_settings.grid_item_title.medium_size }}px;
$grid-item-title-large: {{ site.data.settings.font_settings.grid_item_title.large_size }}px;
$grid-item-title-weight: {{ site.data.settings.font_settings.grid_item_title.weight }};
$grid-item-title-spacing: {{ site.data.settings.font_settings.grid_item_title.letter_spacing }}em;

$grid-item-subtitle-small: {{ site.data.settings.font_settings.grid_item_subtitle.small_size }}px;
$grid-item-subtitle-medium: {{ site.data.settings.font_settings.grid_item_subtitle.medium_size }}px;
$grid-item-subtitle-large: {{ site.data.settings.font_settings.grid_item_subtitle.large_size }}px;
$grid-item-subtitle-weight: {{ site.data.settings.font_settings.grid_item_subtitle.weight }};
$grid-item-subtitle-spacing: {{ site.data.settings.font_settings.grid_item_subtitle.letter_spacing }}em;

$h1-small: {{ site.data.settings.font_settings.h1.small_size }}px;
$h1-medium: {{ site.data.settings.font_settings.h1.medium_size }}px;
$h1-large: {{ site.data.settings.font_settings.h1.large_size }}px;
$h1-weight: {{ site.data.settings.font_settings.h1.weight }};
$h1-spacing: {{ site.data.settings.font_settings.h1.letter_spacing }}em;
$h1-lineheight: {{ site.data.settings.font_settings.h1.line_height }};

$h2-small: {{ site.data.settings.font_settings.h2.small_size }}px;
$h2-medium: {{ site.data.settings.font_settings.h2.medium_size }}px;
$h2-large: {{ site.data.settings.font_settings.h2.large_size }}px;
$h2-weight: {{ site.data.settings.font_settings.h2.weight }};
$h2-spacing: {{ site.data.settings.font_settings.h2.letter_spacing }}em;
$h2-lineheight: {{ site.data.settings.font_settings.h2.line_height }};

$h3-small: {{ site.data.settings.font_settings.h3.small_size }}px;
$h3-medium: {{ site.data.settings.font_settings.h3.medium_size }}px;
$h3-large: {{ site.data.settings.font_settings.h3.large_size }}px;
$h3-weight: {{ site.data.settings.font_settings.h3.weight }};
$h3-spacing: {{ site.data.settings.font_settings.h3.letter_spacing }}em;
$h3-lineheight: {{ site.data.settings.font_settings.h3.line_height }};

$h4-small: {{ site.data.settings.font_settings.h4.small_size }}px;
$h4-medium: {{ site.data.settings.font_settings.h4.medium_size }}px;
$h4-large: {{ site.data.settings.font_settings.h4.large_size }}px;
$h4-weight: {{ site.data.settings.font_settings.h4.weight }};
$h4-spacing: {{ site.data.settings.font_settings.h4.letter_spacing }}em;
$h4-lineheight: {{ site.data.settings.font_settings.h4.line_height }};

$h5-small: {{ site.data.settings.font_settings.h5.small_size }}px;
$h5-medium: {{ site.data.settings.font_settings.h5.medium_size }}px;
$h5-large: {{ site.data.settings.font_settings.h5.large_size }}px;
$h5-weight: {{ site.data.settings.font_settings.h5.weight }};
$h5-spacing: {{ site.data.settings.font_settings.h5.letter_spacing }}em;
$h5-lineheight: {{ site.data.settings.font_settings.h5.line_height }};

$h6-small: {{ site.data.settings.font_settings.h6.small_size }}px;
$h6-medium: {{ site.data.settings.font_settings.h6.medium_size }}px;
$h6-large: {{ site.data.settings.font_settings.h6.large_size }}px;
$h6-weight: {{ site.data.settings.font_settings.h6.weight }};
$h6-spacing: {{ site.data.settings.font_settings.h6.letter_spacing }}em;
$h6-lineheight: {{ site.data.settings.font_settings.h6.line_height }};

$p-small: {{ site.data.settings.font_settings.p.small_size }}px;
$p-medium: {{ site.data.settings.font_settings.p.medium_size }}px;
$p-large: {{ site.data.settings.font_settings.p.large_size }}px;
$p-weight: {{ site.data.settings.font_settings.p.weight }};
$p-spacing: {{ site.data.settings.font_settings.p.letter_spacing }}em;
$p-lineheight: {{ site.data.settings.font_settings.p.line_height }};

$blockquote-small: {{ site.data.settings.font_settings.blockquote.small_size }}px;
$blockquote-medium: {{ site.data.settings.font_settings.blockquote.medium_size }}px;
$blockquote-large: {{ site.data.settings.font_settings.blockquote.large_size }}px;
$blockquote-weight: {{ site.data.settings.font_settings.blockquote.weight }};
$blockquote-spacing: {{ site.data.settings.font_settings.blockquote.letter_spacing }}em;
$blockquote-lineheight: {{ site.data.settings.font_settings.blockquote.line_height }};

$button-weight: {{ site.data.settings.font_settings.buttons.weight }};
$button-spacing: {{ site.data.settings.font_settings.buttons.letter_spacing }}em;


// Logo
$logo-width: {{ site.data.settings.header_settings.logo_width }}px;
$footer-logo-width: {{ site.data.settings.footer_settings.logo_width }}px;


// Grid item
$overlay-opacity: {{ site.data.settings.grid_settings.overlay_opacity }};
$grid-spacing: {{ site.data.settings.grid_settings.grid_spacing }}px;



// - - - - - - - - - - Global styles

@import "_basic";

@import "_includes/_header";
@import "_includes/_footer";

@import "_includes/_content";
@import "_includes/_socials";
@import "_includes/_gallery";
@import "_includes/_syntax";
@import "_includes/_contact-form";



// - - - - - - - - - - Section styles

@import "_includes/_portfolio";
@import "_includes/_blog";




// ----- OVERRIDES  ------

.portfolio-item__link{
    border:1px solid #DDDDDD;
}











/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #ffffff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #FF7200;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content::after {
  clear: both;
  content: "";
  display: table;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: #ffffff;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid #ffffff;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #ffffff;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #ffffff;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}





.page{
  .body-full-screen-button{
    display:none;
  }
}


.page.full-screen{
  .body-full-screen-button{
    display:initial ;
  }
}

.page.full-screen{
  padding-left:0%;
  background:#FFFFFF;
}

.page.full-screen{
  min-height: 85%;
}

@media only screen and (max-width: 1024px) {
  .post-full-screen-button{
    display:none;
  }

  .body-full-screen-button{
    display:none !important;
  }
}
applause-button{
  background: white;
  border-radius: 28px;
}

@media only screen and (min-width: 1024px) {
  .full-screen.header{
    z-index: -1;
  }
}

