---
layout: default
---

<section class="intro">
		
	<div class="wrap">
	
			<button class='button post-full-screen-button' style="position:fixed;top:0px;right:0" 
			onclick="toggleFullScreen()" >
			 Fullscreen</button>


			 <applause-button style="width: 58px; height: 58px;position:fixed;bottom:40px;right:20px;z-index:999"/>

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		{{ page.content }}
		{% if page.comments %}
		<button class='button show-comments' onclick="showComment('{{page.url}}')">
			Comments
		</button>
		<div id="disqus_thread"></div>
		{% endif %}
	
	</div>

</section>